@import "tailwindcss";

/* Define your design tokens for light mode */
@theme {
  --font-display: "Satoshi", "sans-serif";
  --background-color: #ffffff;
}

/* Define dark mode tokens by scoping them inside the .dark class */
.dark {
  @theme {
    --background-color: #1a202c;
  }
}

/* Use the variable in your CSS */
body {
  font-family: var(--font-display);
  background-color: var(--background-color);
}
